<p>Your <%= link_to('gmclassof65.org', 'http://gmclassof65.org') %> password has been reset.</p>
<p>
Username: <%= h @user.username %><br>
Password: <%= h @new_password %>
</p>
<p>Please note that both usernames and passwords are case sensitive and must be entered exactly as shown above.</p>
<p>If you did not request this change, please email info@gmclassof65.org.</p>
