<html>

<head>
<title>Governor Mifflin High School Class of 1965</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="high school class reunion Governor Mifflin 1965">
<meta name="description" content="Governor Mifflin High School Class of 1965">
<LINK href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>


<body background="images/mainbg.jpg">
<div align="center">
<center>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
  <tr>
   <td width="25%">
	  <p align="center">
	  <br>&nbsp;<br>
	  <img src="images/GMSealGold.gif" border="0" style="border-style: none"><br>
	  <br>&nbsp;
	  </p>
	</td>
   <td>
	  <p align="center" class="pagetitle">Governor Mifflin<br>Senior High School<br>Class of 1965</p>
	</td>
  </tr>
  <tr>
    <td colspan="2">
	  <table align="center" cellspacing="0">
  		<tr>
  		  <td>
	  	    <table border="0" cellspacing="0" cellpadding="0">
  			  <tr>
             <td width="10" height="10" valign="top"><img src="images/memoTLC.gif"></td>
             <td width="100%" height="10" valign="top" background="images/memoTop.gif"><img src="images/memoTop.gif"></td>
             <td width="14" height="10" valign="top"><img src="images/memoTRC.gif"></div></td>
			  </tr>
  			  <tr>
             <td width="10" height="100%" valign="top" background="images/memoLeft.gif"><img src="images/memoLeft.gif"></td>
  		  	    <td background="images/memoMiddle.gif">
		         <p align="center" class="maintitle"><br>
	  		      Welcome to our web site.
	  			   </p>
	  			   <p align="center" class="maintext"><br>
               This web site is for and about the 1965 graduating class of Governor Mifflin Senior High School in Shillington, Pennsylvania.
               If you are a class member, no matter how far or near you have roamed, you can always come back to GM here.
               If you are not a class member, please enjoy our web site.
	  			   <br><br>
               <span class="maintitle">Enter the GM Class of 1965 web site </span><a href="gm65index"><span class="mainlink">here.</span></a>
 				   <br>&nbsp;
				   </font>
				   </p>
               </div>
		  	    </td>
             <td width="13" height="100%" valign="top" background="images/memoRight.gif"><img src="images/memoRight.gif"></td>
			  </tr>
  			  <tr>
             <td width="10" height="13" valign="top"><img src="images/memoBLC.gif"></td>
             <td width="100%" height="13" valign="top" background="images/memoBottom.gif"><img src="images/memoBottom.gif"></td>
             <td width="14" height="13" valign="top"><img src="images/memoBRC.gif"></td>
			  </tr>
	  	    </table>
		  </td>
		</tr>
	  </table>
	</td>
  </tr>
</table>

<script language=javascript src="javascripts/footer.js">
<document.writeln("footer.js not found");
</script>

</center>
</div>

</body>

</html>
