<html>

<head>
<title>Class Member Rights and Responsibilities</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="high school class reunion Governor Mifflin 1965">
<meta name="description" content="Governor Mifflin High School Class of 1965">
<LINK href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="black">

<div align="center">
<center>

<table border="0" cellspacing="0" width="600">
  <tr>
    <td valign="top" align="center">
      <table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="10" height="10" valign="top"><img src="images/memoTLC.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTop.gif"></td>
          <td width="100%" height="10" valign="top" background="images/memoTop.gif"><img src="images/memoTop.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTop.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTRC.gif"></div></td>
		  </tr>
  		  <tr>
          <td width="10" height="100%" valign="top" background="images/memoLeft.gif"><img src="images/memoLeft.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
      	 <td valign="top" background="images/memoMiddle.gif" align="center">
		      <p class="maintitle"><br>
       	   Class Member Rights and Responsibilities.
			   </p>
			   <p class="maintext">
			   As a registered participating member of this website, you are responsible for maintaining
            the privacy of class members' information to which you have access. This information is private and personal and
            is provided to the website by class members for the sole purpose of maintaining current contact information to
            notify class members of graduating class activities such as class graduation anniversary reunions.
			   </p>
			   <p class="maintext">
			   You may not disseminate any of this information for any purpose. You are afforded the privilege
            of viewing this information with this understanding.
			   </p>
			   <p class="maintext">
            As a registered participating member of this website, you agree to provide the information requested by the registration
            form with the understanding that its use is to be limited to the purpose described above. You have the right to initiate
            litigation against any individual that violates the responsibnilities as described above.
			   </p>
			   <p class="maintext">
            The organizers of this website have taken reasonable precaution to insure that only members of the Governor Mifflin Senior
            High School graduating class of 1965 have access to the information you are providing to this website and are not responsible
            for actions of any registered class member that violates the responsibilities described above.
			   </p>
			   <p class="maintext">
            You must agree to these rights and responsibilities by checking the appropriate check box on the registration form.<br>&nbsp;
			   </p>
		    </td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoRight.gif"><img src="images/memoRight.gif"></td>
        </tr>
		  <tr>
          <td width="10" height="10" valign="top"><img src="images/memoBLC.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBottom.gif"></td>
          <td width="100%" height="10" valign="top" background="images/memoBottom.gif"><img src="images/memoBottom.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBottom.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBRC.gif"></td>
	     </tr>
        <tr>
          <td height="10" colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5" align="center">
  				<button type="button" name="close" value="Close" onClick="window.close()">Close</button>
          <td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</center>
</div>

</body>
</html>
