<html>

<head>
<title>Governor Mifflin High School Class of 1965</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="high school class reunion Governor Mifflin 1965">
<meta name="description" content="Governor Mifflin High School Class of 1965">
<LINK href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body background="images/mainbg.jpg">

<div align="center">
<center>

<script language=javascript src="javascripts/heading.js">
<document.writeln("heading.js not found");
</script>

<table border="0" cellspacing="0" width="800">
  <tr>
    <td width="25%" valign="top">
	   <table border="0" width="100%">
        <tr>
          <td width="100%">
            <table border="0" cellpadding="2" cellspacing="0" width="100%">
              <tr>
                <td width="100%">
                  <table border="0" cellspacing="0" width="100%" cellpadding="0">
                    <tr>
                      <td class="menutitle">&nbsp;</td>
                      <td class="menutitle">In Memoriam</td>
                    </tr>
				      </table>
				    </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="40"></td>
        </tr>
      </table>
	 </td>
    <td valign="top" align="center">
      <table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="10" height="10" valign="top"><img src="images/memoTLC.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTop.gif"></td>
          <td width="100%" height="10" valign="top" background="images/memoTop.gif"><img src="images/memoTop.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTop.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTRC.gif"></div></td>
		  </tr>
  		  <tr>
          <td width="10" height="100%" valign="top" background="images/memoLeft.gif"><img src="images/memoLeft.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
      	 <td valign="top" background="images/memoMiddle.gif" align="center">
		      <p class="maintitle"><br>
       	   Welcome to our website.
			   </p>
			   <p class="maintext">Please use the links above to navigate our web site.
			   </p>
			   <p class="maintext">Use the 'Register' link to register as a class member.
			   </p>
			   <p class="maintext">
            The 'Class Members' page is exclusively for class members.<br>You must be signed in to view the class roster.
			   </p>
			   <p class="maintext">
            Follow 'Reunions' for information on past<br>and upcoming class reunions.
			   </p>
			   <p class="maintext">
            Use the 'Sign In' link to sign into the web site. You will be prompted for your email address and
            the password assigned during registration. When you sign in, you are given the opportunity to change
            your password.
			   </p>
			   <p class="maintext">
            'In Memoriam' is a page dedicated to the memory of those class members who are no longer with us.
            You do not need to be signed in to view this page.
			   </p>
			   <p class="maintext" align="center">
            Please enjoy our website.<br>&nbsp;
			   </p>
		    </td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoRight.gif"><img src="images/memoRight.gif"></td>
        </tr>
		  <tr>
          <td width="10" height="10" valign="top"><img src="images/memoBLC.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBottom.gif"></td>
          <td width="100%" height="10" valign="top" background="images/memoBottom.gif"><img src="images/memoBottom.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBottom.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBRC.gif"></td>
	     </tr>
        <tr>
          <td height="10" colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5">
          <script language=javascript src="javascripts/footer.js">
          <document.writeln("footer.js not found");
          </script>
          <td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</center>
</div>

</body>
</html>
