<html>

<head>
<title>Governor Mifflin High School Class of 1965</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="high school class reunion Governor Mifflin 1965">
<meta name="description" content="Governor Mifflin High School Class of 1965">
<LINK href="stylesheets/style.css" rel="stylesheet" type="text/css">

<script language=javascript src="javascripts/register.js">
document.writeln("register.js not found");
</script>

</head>

<body background="images/mainbg.jpg" onLoad="javascript:showRandRWindow()">

<div align="center">
<center>

<script language=javascript src="javascripts/heading.js">
document.writeln("heading.js not found");
</script>


<table border="0" cellspacing="0" width="800">
  <tr>
    <td width="15%" valign="top">
	   <table border="0" width="100%">
        <tr>
          <td width="100%">
            <table border="0" cellpadding="2" cellspacing="0" width="100%">
              <tr>
                <td width="100%">
                  <table border="0" cellspacing="0" width="100%" cellpadding="0">
                    <tr>
                      <td class="menutitle">&nbsp;</td>
                      <td class="menutitle">Register</a>
                    </tr>
				      </table>
				    </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="40"></td>
        </tr>
      </table>
	 </td>
    <td valign="top" align="center">
      <table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="10" height="10" valign="top"><img src="images/memoTLC.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTop.gif"></td>
          <td width="100%" height="10" valign="top" background="images/memoTop.gif"><img src="images/memoTop.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTop.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTRC.gif"></div></td>
		  </tr>
  		  <tr>
          <td width="10" height="100%" valign="top" background="images/memoLeft.gif"><img src="images/memoLeft.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
      	 <td valign="top" background="images/memoMiddle.gif">
		      <p class="maintitle">&nbsp;<br>To Register...</p>
        	   <p class="maintext">Please take a moment to fill out the following form. We will use this information to validate your
			   request and return a reply. Some of the information requested here is known only to graduates of Governor Mifflin HIgh School,
			   and some specifically to members of the 1965 graduating class. If you are truly a class member and do not know the answers to
            these questions, we apologize. It is suggested you contact a class member that would know this information. This information is needed to
            verify your authenticity as a class member.
			   </p>
			   <p class="maintext"><span class="mainbold">*</span> - Indicates required fields (headings are also in <span class="mainbold">bold</span> type).
			   </font></p>
			   <p>
		    </td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoRight.gif"><img src="images/memoRight.gif"></td>
        </tr>
		  <tr>
          <td width="10" height="100%" valign="top" background="images/memoLeft.gif"><img src="images/memoLeft.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
      	 <td valign="top" background="images/memoMiddle.gif">
              <% form_for(@registration) do |f| %>
              <div><input name="source" type="hidden" value="gmclassof65.org" /></div>
				  <table border="0" cellpadding="0" cellspacing="0" columns="4">
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  	    <tr>
                  <td class="maintext" colspan="4"><strong>1.&nbsp;&nbsp;Personal information:</strong></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right">*First Name:&nbsp;&nbsp;</td>
       				<td class="maintext">
       			  	  <input type="text" size="32" id="first_name" name="registration[first_name]">
 					   </td>
       				<td class="maintext" align="right">MI:&nbsp;&nbsp;</td>
       				<td class="maintext" align="left">
       			  	  <input type="text" size="6" id="mi" name="registration[mi]">
 					   </td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right"><strong>*Last Name:</strong>&nbsp;&nbsp;</td>
       				<td class="maintext">
       			  	  <input type="text" size="32" id="last_name" name="registration[last_name]">
       			  	</td>
       		    	<td class="maintext" align="right">Suffix:&nbsp;&nbsp;</td>
       				<td class="maintext" align="left">
       			  	  <input type="text" size="6" id="suffix" name="registration[suffix]">
       			  	</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right">*Class Name:&nbsp;&nbsp;</td>
       				<td class="maintext" colspan="3">
       			  	  <input type="text" size="32" id="class_name" name="registration[class_name]">
       			  	</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
            	 <tr>
              		<td class="maintext" align="right">Address:&nbsp;&nbsp;</td>
              		<td class="maintext" colspan="3"><input type="text" size="54" id="address_1" name="registration[address_1]"></td>
            	 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
            	 <tr>
              		<td class="maintext">&nbsp;</td>
              		<td class="maintext" colspan="3"><input type="text" size="54" id="address_2" name="registration[address_2]"></td>
            	 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		       <tr>
       		      <td class="maintext" align="right">City:&nbsp;&nbsp;</td>
       		    	<td class="maintext"><input type="text" size="32" id="city" name="registration[city]"></td>
       		      <td class="maintext" align="right">Zip Code:&nbsp;&nbsp;</td>
       				<td class="maintext" align="left"><input type="text" size="10" id="zip" name="registration[zip]"></td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		    	<td class="maintext" align="right">State:&nbsp;&nbsp;</td>
       		    	<td class="maintext" align="left" colspan="3">
 				  		  <select id="state" name="registration[state]" size="1">
 				    	    <option>AK</option>
 				  		    <option>AL</option>
 				  		    <option>AR</option>
 				  		    <option>AZ</option>
 				  		    <option>CA</option>
 				  		    <option>CDA</option>
 				  		    <option>CO</option>
 				  		    <option>CT</option>
 				  		    <option>DC</option>
 				  		    <option>DE</option>
 				  		    <option>FL</option>
    				  	    <option>GA</option>
    				  	    <option>HI</option>
    				  	    <option>IA</option>
    				  	    <option>ID</option>
    				  	    <option>IL</option>
    				  	    <option>IN</option>
    				  	    <option>KS</option>
    				  	    <option>KY</option>
    				  	    <option>LA</option>
    				  	    <option>MA</option>
    				  	    <option>MD</option>
    				  	    <option>ME</option>
    				  	    <option>MI</option>
    				  	    <option>MN</option>
    				  	    <option>MO</option>
    				  	    <option>MS</option>
    				  	    <option>MT</option>
    				  	    <option>NC</option>
    				  	    <option>ND</option>
    				  	    <option>NE</option>
    				  	    <option>NH</option>
    				  	    <option>NJ</option>
    				  	    <option>NM</option>
    				  	    <option>NV</option>
    				  	    <option>NY</option>
    				  	    <option>OH</option>
    				  	    <option>OK</option>
    				  	    <option>OR</option>
    				  	    <option>PA</option>
    				  	    <option>RI</option>
    				  	    <option>SC</option>
    				  	    <option>SD</option>
    				  	    <option>TN</option>
    				  	    <option>TX</option>
    				  	    <option>UT</option>
    				  	    <option>VA</option>
    				  	    <option>VT</option>
    				  	    <option>WA</option>
    				  	    <option>WI</option>
    				  	    <option>WV</option>
    				  	    <option>WY</option>
 	 		      	  </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or Province:&nbsp;&nbsp;<input type="text" size="30" id="province" name="registration[province]"></td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="maintext" align="right">Country:&nbsp;&nbsp;</td>
       				<td class="maintext" colspan="3">
       				  <input type="text" size="32" id="country" name="registration[country]">
 					   </td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
     		    	   <td class="mainbold" align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Email Address:&nbsp;&nbsp;</td>
       				<td class="maintext" colspan="3"><input type="text" size="54" id="email" name="registration[email]"></td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="8"></td>
     		  		 </tr>
     		  	    <tr>
                  <td class="maintext" colspan="4"><strong>2.&nbsp;&nbsp;Governor Mifflin High School:</strong></td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right" colspan="3">*located on what street?&nbsp;&nbsp;
                    <input type="text" size="40" id="gm_street" name="registration[gm_street]">
                  </td>
       				<td class="maintext" align="left">&nbsp;</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right" colspan="3">*school colors?&nbsp;&nbsp;
                    <input type="text" size="40" id="gm_colors" name="registration[gm_colors]">
                  </td>
       				<td class="maintext" align="left">&nbsp;</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right" colspan="3">*PIAA class in 1965?&nbsp;&nbsp;
                    <input type="text" size="40" id="gm_PIAA" name="registration[gm_PIAA]">
                  </td>
       				<td class="maintext" align="left">&nbsp;</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="8"></td>
     		  		 </tr>
     		  	    <tr>
                  <td class="maintext" colspan="4"><strong>3.&nbsp;&nbsp;Governor Mifflin Class of 1965:</strong></td>
       				<td class="maintext" align="left">&nbsp;</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right" colspan="3">*class colors?&nbsp;&nbsp;
                    <input type="text" size="40" id="class_colors" name="registration[class_colors]">
                  </td>
       				<td class="maintext" align="left">&nbsp;</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right" colspan="3">*class motto?&nbsp;&nbsp;
                    <input type="text" size="40" id="class_motto" name="registration[class_motto]">
                  </td>
       				<td class="maintext" align="left">&nbsp;</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right" colspan="3">*class flower?&nbsp;&nbsp;
                    <input type="text" size="40" id="class_flower" name="registration[class_flower]">
                  </td>
       				<td class="maintext" align="left">&nbsp;</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="right" colspan="3">*graduating class size?&nbsp;&nbsp;
                    <input type="text" size="40" id="class_size" name="registration[class_size]">
                  </td>
       				<td class="maintext" align="left">&nbsp;</td>
     		  		 </tr>
     		  	    <tr>
       		      <td colspan="4" height="12"></td>
     		  		 </tr>
     		  	    <tr>
                  <td class="maintext" colspan="3"><strong>4.&nbsp;&nbsp;Acknowledgement of Rights / Responsibilities:</strong></td>
     		  	    <tr>
       		      <td colspan="4" height="4"></td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="mainbold" align="center" colspan="4">&nbsp;&nbsp;
                    <input type="checkbox" name="r_and_r" onClick="toggleSubmit(this)">&nbsp;
                    I have read and agree with the <a href="javascript:showRandRWindow()" style="text-decoration: underline">Class Member Rights and Responsibilities</a>.
                  </td>
     		  		 </tr>
     		  		 <tr>
       		      <td class="maintext" colspan="4" height="8"></td>
     		  		 </tr>
   			  </table>
   			  <p class="maintext" align="center">
  				    <button type="submit" name="submit" value="Submit" onClick="return validateForm(this.form)" disabled>Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
   				 <button type="reset" name="reset" value="Reset" onClick="this.form.submit.disabled=true">Clear Form</button>&nbsp;&nbsp;&nbsp;&nbsp;
   				 <button type="button" name="cancel" value="Cancel" onClick="cancelForm()">Cancel</button>
 				  </p>
				  <p class="maintext" align="center">Thank you for registering.<br>
				  We will reply with a password to allow signing in to the web site.<br><br>
              For inquiries, email <a href="mailto:registration@gmclassof65.org">registration@gmclassof65.org</a><br>&nbsp;
              </p>
              <% end %>
		    </td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoRight.gif"><img src="images/memoRight.gif"></td>
        </tr>
		  <tr>
          <td width="10" height="10" valign="top"><img src="images/memoBLC.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBottom.gif"></td>
          <td width="100%" height="10" valign="top" background="images/memoBottom.gif"><img src="images/memoBottom.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBottom.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBRC.gif"></td>
	     </tr>
        <tr>
          <td height="10" colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5">
          <script language=javascript src="javascripts/footer.js">
          document.writeln("footer.js not found");
          </script>
          <td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</center>
</div>

</body>
</html>
