<html>

<head>
<title>Governor Mifflin High School Class of 1965</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="high school class reunion Governor Mifflin 1965">
<meta name="description" content="Governor Mifflin High School Class of 1965">
<LINK href="stylesheets/style.css" rel="stylesheet" type="text/css">
<script language=javascript src="javascripts/SHA1.js"></script>
<script language=javascript>
function hash_it() {
   p1 = document.forms[0].username.value;
   p2 = document.forms[0].password.value;
   p3 = new SHA1(p1+":gmclassof65.org:"+p2).hexdigest();
   document.forms[0].password.value = p3;
   return true;
}
</script>
</head>

<body background="images/mainbg.jpg">

<div align="center">
<center>

<script language=javascript src="javascripts/heading.js">
<document.writeln("heading.js not found");
</script>

<table border="0" cellspacing="0" width="800">
  <tr>
    <td width="25%" valign="top">
	   <table border="0" width="100%">
        <tr>
          <td width="100%">
            <table border="0" cellpadding="2" cellspacing="0" width="100%">
              <tr>
                <td width="100%">
                  <table border="0" cellspacing="0" width="100%" cellpadding="0">
                    <tr>
                      <td class="menutitle">&nbsp;</td>
                      <td class="menutitle">Sign In</td>
                    </tr>
				      </table>
				    </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="40"></td>
        </tr>
      </table>
	 </td>
    <td valign="top" align="center">
      <table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="10" height="10" valign="top"><img src="images/memoTLC.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTop.gif"></td>
          <td width="100%" height="10" valign="top" background="images/memoTop.gif"><img src="images/memoTop.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTop.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoTRC.gif"></div></td>
		  </tr>
  		  <tr>
          <td width="10" height="100%" valign="top" background="images/memoLeft.gif"><img src="images/memoLeft.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
      	 <td valign="top" background="images/memoMiddle.gif" align="center">
            <form action="/login" method="post" name="login">
              <div><input name="source" type="hidden" value="gmclassof65.org" /></div>
				  <table border="0" cellpadding="0" cellspacing="0" columns="2">
     		  	    <tr>
       		      <td colspan="2" height="8"></td>
     		  		 </tr>
                <tr>
                  <td colspan="2" align="center" class="mainbold"><%= @message %></td>
                </tr>
     		  	    <tr>
       		      <td colspan="2" height="8"></td>
     		  		 </tr>
                <tr>
                  <td colspan="2" align="center" class="mainbold">Please sign in:</td>
                </tr>
     		  	    <tr>
       		      <td colspan="2" height="8"></td>
     		  		 </tr>
                <tr>
                  <td align="right" class="mainbold">Username:&nbsp;&nbsp;</td>
                  <td align="left">
                    <input type="text" name="login[username]" id="username" size="40" value='<%= @login[:username] %>' />
                  </td>
                </tr>
     		  	    <tr>
       		      <td colspan="2" height="8"></td>
     		  		 </tr>
                <tr>
                  <td align="right" class="mainbold">Password:&nbsp;&nbsp;</td>
                  <td align="left">
                    <input type="password" name="login[password]" id="password" size="30"/>
                  </td>
                </tr>
     		  	    <tr>
       		      <td colspan="2" height="8"></td>
     		  		 </tr>
                <tr>
                  <td align="right" class="mainbold">Change Password:&nbsp;&nbsp;</td>
                  <td align="left">
                    <input type="password" name="login[new_password]" id="new_password" size="30"/>
                  </td>
                </tr>
     		  	    <tr>
       		      <td colspan="2" height="8"></td>
     		  		 </tr>
                <tr>
                  <td colspan="2" align="center">
                    <input type="submit" name="signin" value="Sign In" onClick="hash_it()" />
                  </td>
                </tr>
              </table
            </form>
		    </td>
          <td width="10" height="100%" valign="top" background="images/memoMiddle.gif"><img src="images/memoMiddle.gif"></td>
          <td width="10" height="100%" valign="top" background="images/memoRight.gif"><img src="images/memoRight.gif"></td>
        </tr>
		  <tr>
          <td width="10" height="10" valign="top"><img src="images/memoBLC.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBottom.gif"></td>
          <td width="100%" height="10" valign="top" background="images/memoBottom.gif"><img src="images/memoBottom.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBottom.gif"></td>
          <td width="10" height="10" valign="top"><img src="images/memoBRC.gif"></td>
	     </tr>
        <tr>
          <td height="10" colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5">
          <script language=javascript src="javascripts/footer.js">
          <document.writeln("footer.js not found");
          </script>
          <td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</center>
</div>

</body>
</html>
